@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  width: 100vw;
  height: 70vh;
}

@media print {
  /* page size needs to be defined explicitly to avoid going mobile on print */
  @page {
    size: 427mm 330mm;
    margin: 14mm;
  }
  /* below is maybe also needed */
  /* .container {
    width: 1170px;
  } */

  h1 {
    display: none;
  }

  #navbar {
    display: none;
  }

  #progressSteps {
    display: none;
  }

  #ProgressStepsMobile {
    display: none;
  }
}
