@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.map-container {
  width: 100vw;
  height: 80vh;
}

.map-container-mobile {
  width: 100vw;
  height: 65vh;
}

.drawer-height {
  height: calc(100vh - 64px);
}

@media print {
  /* page size needs to be defined explicitly to avoid going mobile on print */
  @page {
    size: 427mm 330mm;
    margin: 6mm;
  }
  /* below is maybe also needed */
  /* .container {
    width: 1170px;
  } */

  h1 {
    display: none;
  }

  #navbar {
    display: none;
  }

  #progressSteps {
    display: none;
  }

  #ProgressStepsMobile {
    display: none;
  }

  #basicDataTable {
    position: absolute;
    top: 0;
    left: 0;
  }
  #basicDataTable2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  #ofpTable {
    position: absolute;
    top: 170px;
    left: 0;
  }

  #fuelTable {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #radioTable {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #perfTable {
    position: absolute;
    bottom: 0;
    left: 50%;
  }

  td {
    border: 1px solid black;
  }

  th {
    border: 1px solid black;
  }

  input {
    border-style: none;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: inline-block;
  }

  /* This is what simulates a checkmark icon on originalPerfTable */
  .checkbox.checked:after {
    content: '';
    display: block;
    width: 4px;
    height: 7px;

    /* "Center" the checkmark */
    position: relative;
    top: 4px;
    left: 7px;

    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
