@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
	width: 100vw;
	height: 70vh;
}

@media print {
	@page {
		size: landscape;
	}
	h1 {
		display: none;
	}

	#navbar {
		display: none;
	}
	#ProgressStepsMobile {
		display: none;
	}

	#ofpTable {
	}
}
